.nav{
    display: flex;
    justify-content: left;
    background-color: white;
    height: auto;
    width: auto;
}
.nav-name{
    display: flex;
    padding: 15px;
}
.nav-github{
    display: flex;
    padding: 15px;
}
.nav-linkdin{
    display: flex;
    padding: 15px
}
.nav-resume{
    display: flex;
    padding: 15px;
}
.laser{
    background-image: linear-gradient(to right, blue,#5893da,#ADD8E6 );
    height: 5px;
}
.disc{
    height: 250px;
    background-color: #e6e6e6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.port{
    padding: 15px;
    border-radius: 150px;
}
.about{
    /* height: 400px;
    width: 650px; */
    margin: auto;
    padding: 20px;
}


.skills-languages{
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 20px;
}

embed{
    display: flex;
    margin: auto;
    width: 50%;
    height: 100vh;
}