li{
    list-style-type: none;
}
body{
    margin: 0;
    padding: 0;
    background-color: #038BAD;
}
.navBar .container{
    display: flex;
    justify-content: space-between; 
    align-items: center;
    font-size: x-large  
}
.navBar{
    background-color: #038BAD;
    color: white;
}

.navBar .logo{
    margin-left: 30px;
}
.navtags{
    display: flex;
    gap: 8px;
    
}

.navtags li{
    list-style: none;
    margin-right: 30px;
    
}
.navtags li a {
    text-decoration: none;
    color: white;
}




.mid .container{
    display: flex;
    justify-content: space-around;
}
.mid{
    background-color:#038BAD;
    color: white;
}
.leftPanel{
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    background-color: #0336AD;
    margin: 10px;
    padding: 10px;
    height: 352px;
    width: 400px;
    justify-content: center;
    align-items: center;
   
}


.xp{
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    margin: 10px;
    gap: 16px;
    background-color: #0336AD;
    padding: 10px;
    height: 352px;
    width: 400px;
    justify-content: center;
    align-items: center;
}
.fm{
    border-radius: 25px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    background-color: #0336AD;
    padding: 10px;
    height: 352px;
    width: 400px;
    justify-content: center;
    align-items: center;
}

.about{
    display: flex;
    border-radius: 25px;
    flex-direction: column;
    background-color: #0336ad;
    color: white;
    font-size: x-large;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 10px;
}
.lowerPanel{
    background-color: #038BAD;
}
.quotes .container{
    display: flex;
}
.quotes{
    background-color: grey;
}
.contact{
    background-color: grey;
}
.contact .container{
    display: flex;
}